@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body, div, span, h1, h2, h3, h4, h5, h6, p,
img, ul, li, footer, header {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  display: flex;  /* setting "display: flex" allows its children (e.g. "main" below) to use the "flex" property */
  flex-direction: column;
  padding-top: 56px;  /* allow enough space for a fixed navbar (56px is the height of the navbar here) */
  min-height: 100vh;  /* i.e minimum width is 100% of the "viewport height"... i.e the full screen height */
}

.container {
  padding-top: 60px;
  padding-bottom: 30px;
}

hr {
  /* add some fancy styling to the horizontal lines */
  width: 75%;
  border: 1.5px solid #ddd;
  border-radius: 50%;
}

.padding-left
{
    padding-left: 23px;
    padding-right: 23px;
}

.padding-under
{
    padding-bottom: 23px;
}

.padding-under-and-over
{
    padding-top: 5px;
    padding-bottom: 23px;
}

.padding-under-and-over-small
{
    padding-top: 5px;
    padding-bottom: 5px;
}



      /* trying to add a rounded border so that the colours of the first page continue
    padding-left: 23px;
    padding-right: 23px;
    border-radius: 25px;
    border:#69287c;
    border-radius: 15px;
    border-style: solid white;
    margin-bottom: black;
     */
    


.padding-RnL
{
    padding-right: 23px;
}



.nav-link {
    font-size: large;
}

.nav-link:hover {
    text-decoration: underline;
} 



main{
    grid-area: main;
    background-color: #101214;
    width: 100%;  /* fit the image within the div */
    margin: 100px 0;
    flex: 1;
    font-family: 'Roboto', sans-serif;
}

.grid-2{

    display: grid;
    grid-template-columns: repeat(2,1fr);

}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #101214;
    color: white;
    font-size: medium;
}



h1, h4 .white{
    color: #fff;
}

h3 {
    color: #666;
    text-decoration: none;
    font-size: x-large;
}

a {
    color: #666;
    text-decoration: none;
}

h2 {
    color: #aa4313;
}

/* section 1 */

.section-1{

    padding-top: 22vh;
    padding-left: 5vw;
    text-align: center;
    width: 100%;
}



.section-1 p{

    font-size: medium;
    padding-bottom: 10px;
    margin:0;

}



.section-1 h2{

    font-size: xx-large;
    margin-bottom: 10px;

}



.section-1 a{

    font-size: x-large;
    padding: 10px;

}

/* section 2 */

.section-2{

    padding-top: 8vh;
    width: 100%;
    padding-left: 5vh;

}



.section-2 h2{

    font-size: xx-large;
    margin-bottom: 10px;

}



.section-2 p{

    font-size: large;
    padding-bottom: 10px;
    margin:0;

}



.section-2 a{

    display: block;
    padding: 5px;
    font-size: large;
    padding-left: 0;
    width: 100px;

}

.section-2 a:hover{

    font-size: large;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;

}



.section-1 a:hover{

    color: #fff;
    cursor: pointer;
    transition: 0.3s;

}



.white:hover{

    position: relative;
    padding-left: 10px;

}



aside1{
    grid-area: aside1;
}

aside2{
    grid-area: aside;
}





.container{
  display: grid;
  grid-template-rows: .1fr .1fr 5fr 1fr;
  grid-template-columns: 1.2fr 13fr 1.5fr;
  grid-template-areas: 
    "header header header"
    "nav nav nav"
    "aside1 main aside2"
    "footer footer footer"
    ;
  grid-gap: 0;
}

.HeaderAndLogo
{   background-color #101214;
    text-align: center;
    text-decoration-color: white;
}

.logo2 {
    -moz-box-shadow: 0 0 0px 3px rgb(8, 8, 8), 0 0 0 4px rgb(8, 8, 8), 0 4px 6px #333;
    -webkit-box-shadow: 0 0 0px 3px  rgb(8, 8, 8), 0 0 0 4px rgb(8, 8, 8), 0 4px 6px #333;
    box-shadow: 0 0 0px 3px rgb(8, 8, 8), 0 0 0 4px rgb(8, 8, 8), 0 4px 6px #333;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    
  }


  .logosmall {
    -moz-box-shadow: 0 0 0px 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333;
    -webkit-box-shadow: 0 0 0px 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333;
    box-shadow: 0 0 0px 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    
  }


/* Float columns side by side */
.column {
float: left;
padding: 10px 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

header{
    grid-area: header;
    background-color: #101214;
}


footer {
  display: flex;  /* allows use of "justify-content" property */
  justify-content: center;  /* horizontally centers the contents (the social icons) */
  background-color: #666;
  height: 100px;
  padding: 20px;
  grid-area: footer;
  background-color: #101214;
}

footer a {
  margin: 5px;
  text-decoration: none!important;
}

.icon-work2 {
    color:#aa4313;
  }
  
  .icon-work2:hover {
    color:#aa4313;
  }

/* ===== media queries ====== */

/* Responsive columns */
@media screen and (max-width: 600px) {


.container{
  display: grid;
  grid-template-rows: .1fr .1fr 5fr 1fr;
  grid-template-columns: .2fr 8fr .5fr;
  grid-template-areas: 
    "header header header"
    "nav nav nav"
    "aside1 main aside2"
    "footer footer footer"
    ;

  grid-gap: 0;
}


.column {
  width: 100%;
  display: block;
  margin-bottom: 20px;}

}



@media(max-width:780px){

    .grid-2{

        grid-template-columns: 1fr;

    }

    .section-1{

        padding-right:0;
        padding-left:0;
        padding-bottom:0; 
        padding-top: 5rem;

    }

    .section-2{
        padding-right:0;
        padding-left:0;
        padding-bottom:0; 
        padding-top: 5rem;
        width: 100%;
        display: inline-block;


    }
}



